input {
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

#sporreskjema {
    margin: auto;
    text-align: center;
}

#send {
    background-color: lightblue;
    width: 50%;
}

#tilbakemelding {
    display: block;
    margin: auto;
    border-radius: 5px;
    width: 50%;
    resize: none;
}

.sendTil {
}