body {
   font-family: 'Keep-Calm', 'Arial Bold';
   color: black;
   background-color: lightgrey;
   margin: auto;
   padding: 50px;
   width: 70%;
}

p, label {
   font-family: 'Roboto Slab', 'Georgia';
}

h1,h2,h3,h4,h5 {
   text-align: center;
}

.hvit_boks {
   width: 100%;
   height: 100%;
   background: white;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
   box-sizing: border-box;
}

a {
   color: #FF8519;
}


/*BRUKES I OM_OSS*/
.bilde {
   width: 30%;
   height: auto;
}

.kolonne .fullbredde:hover {
   transform: scale(1.03);
   transition: transform 0.25s;
}

.fullbredde {
   width: 100%;
   height: auto;
}

.kolonne {
   box-sizing: border-box;
   float: left;
   width: 33.3333%;
   padding: 10px;
}

/* Bruker i kontakt_oss.html */

.kontaktInput {
   display: block;
   margin: auto;
   padding: 5px;
   border-radius: 5px;
   width: 50%;
   margin-bottom: 10px;
   margin-top: 5px;
}

#sporreskjema {
   margin: auto;
   text-align: center;
   height: 600px;
}

#send {
   background-color: lightblue;
   width: 50%;
}

#tilbakemelding {
   display: block;
   margin: auto;
   border-radius: 5px;
   width: 50%;
   resize: none;
}

#kart_boks {
   width: 100%;
   height: 400px;
}

.mottaker_kontakt {
   display: inline-block;
   padding: 10px;
   margin-top: -20px;
}
