@font-face {
   font-family: "Keep-Calm";
   src: url("../fonts/KeepCalm-Medium.ttf") format("truetype");
}

body {
   background-color: lightgrey;
   margin: 0;
   padding: 0;
}

@media only screen and (max-width: 960px) {
   body {
      width: 90%;
      padding: 0;
   }
}

p, label {
   font-family: 'Roboto Slab', 'Georgia';
}

h1,h2,h3,h4,h5 {
   text-align: center;
   font-family: 'Keep-Calm', 'Arial Bold';
   color: black;
}

selector {
   margin: auto;
   padding: 50px;
   width: 70%;
}

.hvit_boks {
   width: 100%;
   height: 100%;
   background: white;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
   box-sizing: border-box;
}

a {
   color: #FF8519;
}


/*BRUKES I OM_OSS*/
.bilde {
   width: 30%;
   height: auto;
}

.fullbredde {
   width: 100%;
   height: auto;
}

.kolonne {
   box-sizing: border-box;
   float: left;
   width: 33.3333%;
   padding: 10px;
   position: relative;
}

.fullbredde:hover {
   transform: scale(1.03);
   opacity: 0.25;
   transition: 0.25s;
}

.fullbredde {
   transition: 0.25s;
}

.reveal_text {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   display: inline-block;
   vertical-align: middle;
}

.kolonne:hover .reveal_text {
   opacity: 1;
   transition: 0.25s;
}

/* BRUKES I INDEX */
#index_background {
   background-image: url("../img/background-index.jpg");
   background-position: center;
   width: 100%;
   height: 500px;
   background-size: cover;
}

#index_foreground {
   padding: 20px 0 20px 0;
   background-color: green;
   z-index: 2;
}

section#news {
   width: 70%;
   margin: auto;
}

#news_header {
   width: 100%;
   text-align: center;
   padding: 20px 0 20px 0;
   margin: 20px 0 20px 0;
   background-color: white;
   font-family: "Keep-Calm";
   font-size: 2em;
}

.margin_box {
   width: 100%;
   padding: 20px 0 20px 0;
   background-color: white;
   overflow: auto;
}

.news_pic_wrapper {
   width: 50%;
   float: left;
}

.news_text_wrapper {
   width: 50%;
   float: right;
}

.news_pic {
   width: 90%;
   margin: auto;
}

.news_pic img {
   width: 100%;
   display: block;
}

.news_text {
   width: 90%;
   margin: auto;
}

.news_text h3 {
   text-align: left;
}

/* Bruker i kontakt_oss.html */

.kontaktInput {
   display: block;
   margin: auto;
   padding: 5px;
   border-radius: 5px;
   width: 50%;
   margin-bottom: 10px;
   margin-top: 5px;
}

#sporreskjema {
   margin: auto;
   text-align: center;
   height: 600px;
}

#send {
   background-color: lightblue;
   width: 50%;
}

#tilbakemelding {
   display: block;
   margin: auto;
   border-radius: 5px;
   width: 50%;
   resize: none;
}

#kart_boks {
   width: 100%;
   height: 400px;
}

.mottaker_kontakt {
   display: inline-block;
   padding: 10px;
   margin-top: -20px;
}
