body {
   font-family: 'Keep-Calm', 'Arial Bold';
   color: black;
   background-color: lightgrey;
   margin: auto;
   padding: 50px;
   width: 70%;
}

@media only screen and (max-width: 960px) {
   body {
      width: 90%;
      padding: 0;
   }
}

p, label {
   font-family: 'Roboto Slab', 'Georgia';
}

h1,h2,h3,h4,h5 {
   text-align: center;
}

.hvit_boks {
   width: 100%;
   height: 100%;
   background: white;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
   box-sizing: border-box;
}

a {
   color: #FF8519;
}


/*BRUKES I OM_OSS*/
.bilde {
   width: 30%;
   height: auto;
}

.fullbredde {
   width: 100%;
   height: auto;
   padding: 5px;
}

.kolonne {
   box-sizing: border-box;
   float: left;
   width: 33.3333%;
   padding: 10px;
   position: relative;
}

.fullbredde:hover {
   transform: scale(1.03);
   opacity: 0.25;
   transition: 0.25s;
}

.fullbredde {
   transition: 0.25s;
}

.reveal_text {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   display: inline-block;
   vertical-align: middle;
}

.kolonne:hover .reveal_text {
   opacity: 1;
   transition: 0.25s;
}
