.bilde {
   width: 30%;
   height: auto;
}

.fullbredde {
   width: 100%;
   height: auto;
   padding: 5px;
}

.kolonne {
   box-sizing: border-box;
   float: left;
   width: 33.3333%;
   padding: 10px;
}
